# Dependencies
node_modules/
lib/node_modules/

# Build
**/build/
dist/

# Android
android/.gradle/
android/local.properties
android/app/libs/
android/aios-release.jks
**/*.iml

# IDE
.idea/
.vscode/

# Secrets
.env.test
lib/.env

# General
.DS_Store
*.swp
*.swo
*~

# OS
Thumbs.db
