# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/build/
*.lock
!pubspec.lock

# Android
android/app/libs/*.aar
android/aios-release.jks
android/.gradle/
android/local.properties
**/*.iml

# IDE
.idea/
*.iml
.vscode/

# Native (removed)
native/

# Test secrets
.env.test

# General
.DS_Store
*.swp
*.swo
*~

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart
android/aios-release.jks
android/app/libs/
